* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	/* background-color: #e3f2fd; */
	background-color: #a2a6e2;
	/* materialze: for sticky footer  */
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

nav {
	background-color: #4f3fb9;
}

.brand-logo {
	left: 1rem;
}

#nav-mobile {
	margin-right: 0.5rem;
}

.page-footer {
	background-color: #4f3fb9 !important;
}

main {
	/* materialze: for sticky footer  */
	flex: 1 0 auto;
}

.formTitle {
	font-size: 22pt;
	margin-left: 0.5rem;
	color: #ffffff;
}

.margin-y-0 {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

select {
	display: block !important;
}

.editableDiv {
	background-color: #ffffff !important;
	border: 1px solid gray;
	margin-bottom: 10px;
	height: 5rem;
}

.hiddenText {
	display: none;
}

.article-container {
	background-color: #e0f0fb;
	padding: 1.5rem;
	margin: 0.5rem;
}

.articleHeader span {
	display: block;
	color: #ffffff;
}

.articleTitle {
	font-size: 24pt;
	text-shadow: 2px 1px 1px black;
}

.articleIntro {
	color: black !important;
	font-size: 16pt;
	/* text-shadow: 1px 0px 0px black; */
}

.articleAuthor,
.articlePubDate {
	font-size: 10pt;
	font-style: italic;
}

input[type="text"] {
	border-bottom: 1px solid #ffffff !important;
	color: #ffffff;
}

label,
.body-label {
	color: #ffffff !important;
	left: 0.75rem;
}

#submitArticleBtn {
	margin-left: 0.5rem;
}
